html {
    scroll-behavior: smooth;
  }

  body {
    max-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    color: white !important;
  }

  /* Scroller styling */

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #040404;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(6, 191, 223);
    border-radius: 10px;
  }

  .gradient-btn {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    height: 40px !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: white;
    background: linear-gradient(91.95deg, rgb(6, 191, 223) 1.75%, rgb(0, 217, 255) 98.13%) !important;
    border-radius: 10px;
    box-shadow: none;
    padding: 8px 1.5rem !important;
    text-transform: capitalize;
    gap: 16px;
  }

  .gradient-btn.pink {
    background: linear-gradient(
      91.93deg,
      rgb(173, 24, 199) 1.75%,
      rgb(229, 82, 255) 98.27%
    ) !important;
  }

  .gradient-btn:hover {
    box-shadow: none;
    background: linear-gradient(91.95deg, rgb(6, 191, 223) 98.13%, rgb(0, 217, 255) 1.75%) !important;
  }

  .gradient-btn.pink:hover {
    background: linear-gradient(
      91.93deg,
      rgb(173, 24, 199) 98.27%,
      rgb(229, 82, 255) 1.75%
    ) !important;
  }
